

<h1 class="display-4 text-center mb-5">Login</h1>


<form  (ngSubmit)="handleAuthenticate(form)" #form = "ngForm" >
    <div class="mb-3">
      <label for="exampleInputEmail1" class="form-label">UserName</label>
      <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" [placeholder]="admin.userName" disabled>
    </div>
    <div class="mb-3">
      <label for="exampleInputPassword1" class="form-label">Password</label>
      <input placeholder="Enter Password" type="password" ngModel name="password" required #password="ngModel" class="form-control" id="exampleInputPassword1">
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>


  