<div class="cart-section">
    <div class="cart-fixed">
        <ul class="list-group ">
            <li class="list-group-item " aria-current="true">Cart <mat-icon class="mat-18">shopping_cart</mat-icon></li>
            <li class="list-group-item" *ngFor="let order of orders">
                <p class="fw-bold">{{order.foodItem.name}}</p>
                <p class="fw-bold">Quantity: 
                    <span><button  class="pt-0 pb-0 ps-1 pe-1 me-2">+</button></span> 
                    <input class="p-0 me-2" style="width: 30px;" type="text" [value]="order.quantity">
                    <span><button>-</button></span>
                 </p>
                 <p class="list-group-item text-success fw-bold">Price : ${{order.price}}</p>
            </li>
            
            <li class="list-group-item text-success fw-bold">Total : ${{cart.totalPrice}}</li>
            <li class="list-group-item bg-success text-light checkout-button" (click)="handleCheckOut()">Checkout <mat-icon class="mat-18">arrow_forward_ios</mat-icon></li>
        
          </ul>
    </div>
</div>


